@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "avant";
    src: url("fontes/ITCAvantGardeStdDemi.otf") format('opentype');
/* Tipos de format() :

- opentype (otf)
- truetype (ttf)
- embedded-opentype
- truetype-aat (apple advanced typography)
- svg 
Geralmente sempre são otf ou ttf
*/
}

/*
em HTML é id = em CSS é # (só pode ter um em cada HTML)
em HTML é class = em CSS é . (pode ter vários)
*/

nav{
    background-color:  #B8B8FF;
    padding: 10px;
    text-align: center;
}

body {
    font-style: normal;
    /*italico ou normal */

    font-weight: normal; 
    /* Tipos de peso: lighter, normal, bold, bolder 
    Nem toda fonte tem variação de peso */
   
    font-size: 1em;
    /* Utilizar sempre medidas em ou px
        16px = 1em */

    font-family: 'Montserrat', sans-serif;
    /* Safe fontes seria combinações de fontes parecidas para tentar que o navegador aplique elas na ordem. 
        site w3c pode orientar melhor as combinações.
    */
    
    font: normal normal 1em;
    /* shorthand font: font-style, font-weight, font-size, font-family */
    
    background-color: #f8f7ff;
    background-image: linear-gradient(-190deg, #B8B8FF 70%, #9381FF);
    background-attachment: fixed;  
}
main{
    background-color: white;
    width: 70%;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #23223950 ;
}

h1 {
    font-family: "avant", Arial, sans-serif;
    color: #fff952 ;
    background-color: #232239;
    border-radius: 5px;
    text-align: center;
}

/*id só pode ser unico dentro da css*/
#principal{
    font-size: 60px;
    color: #232239;
    background-image: linear-gradient(-190deg, #B8B8FF 70%, #9381FF);

}

h2 {
    font-family: "avant", Arial, sans-serif;
    color: #232239;
    background-color: #fff952;
    border-radius: 5px;
    width: 350px;
    text-shadow: 1px 1px 5px #23223950 ;
}

/*classes*/
.basico{ 
   color: #48794f;
}

.intermediario{
    color: #908b51;

}

.avancado{
    color: #a35555;

}

.destaque{
    background-color: rgb(200, 200, 200);
}

a{
    color: #232239; 
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: #fff952;
    
}


p{
    text-align: justify;
}

div{ 
    display: inline-block;
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}

div:hover {
    background-color: #232239;
}

div:hover > p{
    display: block;
}

div > p {
    display: none;
}

/* feito somente para visualização do DEV TOOLS do Chrome. Ótimo para visualizar o código e fazer alterações para testes sem alterar o código original.*/
.inlinelevel{
    border-width: 100px;
    border-style: solid ;
    border-color: #fff952;
}

.boxlevel{
    border-style: solid;
    border-color: black;

}