@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff9520f ;;
    
}
h1 {
    color: #fff952 ;
    background-color: #232239;
   
}
h2 {
    color: #232239;
    background-color: #fff952;
  
}

a{
    color:  #232239;
    
}
